html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
#sky{
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #000;
    z-index: -1;
}
.star{
    background: #fff;
    position: absolute;
    -webkit-animation: blinkAnim 5s infinite;
    -moz-animation: blinkAnim 5s infinite;
    -ms-animation: blinkAnim 5s infinite;
    -o-animation: blinkAnim 5s infinite;
    animation: blinkAnim 5s infinite;
}

@keyframes blinkAnim{
     from{
         opacity: 1;}
     50%{
         opacity: 0;}
     to{
         opacity: 1;}
}
@-webkit-keyframes blinkAnim{
     from{
         opacity: 1;}
     50%{
         opacity: 0;}
     to{
         opacity: 1;}
}


header.main ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}
header.main ul li{
    background-image: linear-gradient(#179fcf,#53d1f7,#feffff,#feffff,#53d1f7,#179fcf);
    height: 50px;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 200px;
    justify-content: center;
}
header.main ul li.actualOnglet{
    background-image: linear-gradient(#ac0606,#f70a14,#feffff,#feffff,#f70a14,#ac0606);
}
header.main ul li:last-child{
    max-width: none;
    justify-content: end;
}
header.main ul img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background-image: url('img-background-icon-profil.jpeg');*/
    background-position: -137px -29px;
}

main.main{
    margin: 10px;
}
main.main section{
    display: flex;
    flex-direction: column;
    color: #fff;
}
main.main section h1{
    margin: 20px auto;
}
main.main section label{

}
